.popup__submit-cover {
    position: relative;
}

.popup__submit {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 20px 76px;
    width: 100%;
    background-color: #2F71E5;
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.popup__submit:hover {
    background-color: #347EFF;
}

.popup__submit:active {
    background-color: #2A65CC;
}

.popup__submit_type_disabled {
    background-color: #E6E8EB;
    color: #B6BCBF;
    box-shadow: none;
    cursor: unset;
}

.popup__submit_type_disabled:hover {
    background-color: #E6E8EB;
}

.popup__submit_type_disabled:active {
    background-color: #E6E8EB;
}