.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
  visibility: hidden;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 34px 36px 28px;
}

.popup__container_type_success {
  padding: 43px 36px 51px;
}

.popup__close {
  position: absolute;
  background-image: url('../../images/close.svg');
  background-position: center;
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  background-size: contain;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  transition: opacity 0.3s ease-in;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.17;
  margin: 0 0 22px;
  padding: 0;
}

.popup__title_type_success {
  margin: 0 0 14px;
}

.popup__redirection {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #000000;
}

.popup__redirection_type_success {
  font-size: 18px;
  line-height: 1.22;
  text-align: left;
}

.popup__redirection-path {
  cursor: pointer;
  color: #2F71E5;
}

@media all and (max-width: 520px) {
  .popup {
      display: block;
      top: 56px;
      background-color: #FFFFFF;
      border-radius: 16px 16px 0 0;
  }

  .popup__container {
      max-width: 100%;
      box-shadow: none;
      border-radius: 16px 16px 0 0;
      padding: 16px 16px 28px;
  }

  .popup__container_type_success {
      padding: 25px 16px 51px;
  }

  .popup__close {
      width: 24px;
      height: 24px;
      top: -40px;
      right: 12px;
  }
}