.saved-news__header {
    padding: 40px 104px 56px;
    background-color: #FFFFFF;
}

.saved-news__subtitle {
    display: block;
    color: rgba(26, 27, 34, 0.5);
    margin-bottom: 28px;
}

.saved-news__title {
    font-family: 'Roboto-Slab', Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.15;
    max-width: 530px;
    margin: 0 0 30px;
}

@media all and (max-width: 780px) {
    .saved-news__header {
        padding: 24px 40px 32px;
    }

    .saved-news__subtitle {
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 16px;
    }

    .saved-news__title {
        font-size: 30px;
        line-height: 1.13;
        min-width: 336px;
        margin: 0 0 16px;
    }

    .saved-news__keywords {
        font-size: 14px;
        line-height: 1.71;
    }
}

@media all and (max-width: 570px) {
    .saved-news__header {
        padding: 8px 16px 34px;
    }

    .saved-news__subtitle {
        font-size: 12px;
        line-height: 2;
    }

    .saved-news__title {
        min-width: 288px;
    }

    .saved-news__keywords {
        min-width: 288px;
    }
}