.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

.navigation__item {
  display: none;
  margin-right: 33px;
}

.navigation__item_active {
  display: block;
}

.navigation__link {
  position: relative;
  text-decoration: none;
  color: white;
}

.navigation__link_type_main {
  color: rgba(182, 188, 191, 1);
}

.navigation__link_color_black {
  color: #1A1B22;
}

.navigation__link_underline_white::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

.navigation__link_underline_black::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1A1B22;
}

@media all and (max-width: 780px) {
  .navigation {
      font-size: 16px;
      line-height: 1.5;
  }

  .navigation__item {
      margin-right: 16px;
  }

  .navigation__link_underline_white::before {
      top: 38px;
  }

  .navigation__link_underline_black::before {
      top: 38px;
  }
}

@media all and (max-width: 570px) {
  .navigation {
      font-size: 18px;
      line-height: 3.11;
      flex-direction: column;
      margin-bottom: 22px;
  }

  .navigation__item {
      margin-right: 0;
  }

  .navigation__link_type_main {
      color: #FFFFFF;
  }

  .navigation__link_underline_white::before {
      content: none;
  }

  .navigation__link_underline_black::before {
      content: none;
  }
}