.search-form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 80px 80px;
  color: white;
}

.search-form__title {
  font-family: 'Roboto-slab', Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.07;
  margin: 0 0 32px;
  padding: 0;
  max-width: 545px;
}

.search-form__subtitle {
  font-size: 18px;
  line-height: 1.33;
  margin: 0 0 64px;
  padding: 0;
  max-width: 545px;
}

.search-form__input {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #1A1B22;
  box-sizing: border-box;
  padding: 18px 40px 18px 24px;
  min-width: 440px;
  background-color: #FFFFFF;
  border: none;
  border-right: transparent;
  backdrop-filter: blur(8px);
  border-radius: 50px 0 0 50px;
}

.search-form__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2F71E5;
}

.search-form__cover {
  display: flex;
  position: relative;
  min-width: 608px;
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
}

.search-form__submit {
  position: absolute;
  top: -1px;
  right: -1px;
  display: inline-block;
  background: #2F71E5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  padding: 18.5px 54px;
  color: #FFFFFF;
  border: none;
}

.search-form__submit:hover {
  background: #347EFF;
}

.search-form__submit:active {
  background: #2A65CC;
}

.search-form__submit:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2F71E5;
}

::-webkit-input-placeholder {
  color: rgba(182, 188, 191, 1);
}

::-moz-placeholder {
  color: rgba(182, 188, 191, 1);
}
:-moz-placeholder {
  color: rgba(182, 188, 191, 1);
}

:-ms-input-placeholder {
  color: rgba(182, 188, 191, 1);
}

@media all and (max-width: 800px) {
  .search-form {
      padding: 38px 40px 48px;
  }

  .search-form__title {
      font-size: 36px;
      line-height: 1.11;
      margin: 0 0 16px;
      max-width: 400px;
  }

  .search-form__subtitle {
      margin: 0 0 48px;
      padding: 0;
      max-width: 420px;
  }

  .search-form__input {
      padding: 16px 40px 16px 24px;
      min-width: 292px;
  }

  .search-form__cover {
      min-width: 448px;
  }

  .search-form__submit {
      padding: 16px 49.5px 16px;
  }
}

@media all and (max-width: 570px) {
  .search-form {
      padding: 32px 16px;
      min-width: calc(100% - 32px);
  }

  .search-form_type_open {
      margin-top: 56px;
  }

  .search-form__title {
      min-height: 80px;
      min-width: 100%;
  }

  .search-form__subtitle {
      margin: 0 0 122px;
      min-width: 100%;
  }

  .search-form__input {
      padding: 17px 16px;
      min-width: 100%;
      border-radius: 50px;
  }

  .search-form__cover {
      flex-direction: column;
      justify-content: space-between;
      min-width: 288px;
      min-height: 128px;
      background-color: transparent;
      border: none;
  }

  .search-form__submit {
      position: relative;
      top: 0;
      left: 0;
      padding: 17px 16px;
      min-width: 100%;
  }
}