.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 104px 15px;
}

.header__cover {
  display: flex;
  align-items: center;
}

.header_type_main {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.header_type_saved-news {
  background-color: #FFFFFF;
  box-shadow: inset 0 -1px 0 #D1D2D6;
}

@media all and (max-width: 780px) {
  .header__container {
      padding: 14px 40px 12px;
  }
}

@media all and (max-width: 570px) {
  .header_type_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
  }

  .header__container {
      flex-direction: column;
      align-items: flex-start;
      padding: 19px 16px 13px;
  }

  .header__container_type_main {
      background-color: #1A1B22;
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  }

  .header__container_type_saved-news {
      background-color: #FFFFFF;
      box-shadow: inset 0 -1px 0 #D1D2D6;
  }

  .header__cover {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: 56px;
      left: 0;
      min-width: calc(100% - 32px);
      padding: 16px 16px 24px 16px;
      background-color: #1A1B22;
      z-index: 2;
      border-radius: 0 0 16px 16px;
  }

  .header__cover_type_main {
      display: block;
  }

  .header__cover_type_saved-news {
      display: block;
      background-color: #FFFFFF;
  }

  .header_type_main {
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  }

  .header_type_saved-news {
      background-color: #FFFFFF;
      box-shadow: inset 0 -1px 0 #D1D2D6;
  }

  .header__unite {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 100%;
  }
}